
<div>
  <input type="text" pInputText />
</div>

<div>

  <span id="ask-editor-container" #editorContainer >
    <p-editor #AsEditor [(ngModel)]="text" [style]="{'height':'320px'}" (onInit)="onEditorInit()">

      <p-header>
      <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold" tabindex="-1" ></button>
        <button class="ql-italic" aria-label="Italic" tabindex="-1" ></button>
        <button class="ql-underline" aria-label="Underline" tabindex="-1" ></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="bullet" aria-label="Bullet List" tabindex="-1" ></button>
        <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1" ></button>
      </span>



      <span class="ql-formats">
        <button class="ql-indent" value="-1" aria-label="Indent" tabindex="-1"  ></button>
        <button class="ql-indent" value="+1" aria-label="Indent" tabindex="-1" ></button>
      </span>
      <span class="ql-formats">
        <button class="ql-code-block" aria-label="Code" tabindex="-1" ></button>
        <button class="ql-link" aria-label="Link" tabindex="-1" ></button>
      </span>
      <span class="ql-formats">
          <button class="ql-clean" aria-label="Clear Formating" tabindex="-1" ></button>
        </span>
    </p-header>

    </p-editor>
  </span>

</div>

<div>
  <input type="text" pInputText />
</div>

<div>

  <button pButton type="button" label="Open Dialog" (click)="open()"></button>

</div>



<p-dialog [header]="'Add'" [(visible)]="displayAddDialog" [modal]="true" [responsive]="true"
          [style]="{width: '80vw', 'max-width': '1120px'}" [positionTop]="25"
          [maximizable]="false" [baseZIndex]="10000" [closeOnEscape]="false" >

  <div>
    <div class="ui-g-12 ui-fluid" >
      <label for="new-test-plan-name-input" style="width: 100%">Add</label>
      <input id="firstInput" type="text" [maxlength]="50" class="basic-input testPlanNameField"
             pInputText [(ngModel)]="newName" >
    </div>
    <div class="ui-g-12">


      <span id="ask-editor-container" #editorContainer >
        <p-editor #AsEditor [(ngModel)]="text" [style]="{'height':'320px'}" (onInit)="onEditorInit()">

          <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1" ></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1" ></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1" ></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="bullet" aria-label="Bullet List" tabindex="-1" ></button>
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1" ></button>
          </span>


          <span class="ql-formats">
            <button class="ql-indent" value="-1" aria-label="Indent" tabindex="-1"  ></button>
            <button class="ql-indent" value="+1" aria-label="Indent" tabindex="-1" ></button>
          </span>
          <span class="ql-formats">
            <button class="ql-code-block" aria-label="Code" tabindex="-1" ></button>
            <button class="ql-link" aria-label="Link" tabindex="-1" ></button>
          </span>
          <span class="ql-formats">
              <button class="ql-clean" aria-label="Clear Formating" tabindex="-1" ></button>
            </span>
        </p-header>

        </p-editor>
  </span>


    </div>
  </div>

  <p-footer>

    <button type="button" id="new-test-plan-add-button" pButton icon="pi pi-check" (click)="close()" ></button>
  </p-footer>

</p-dialog>

